.App {
  text-align: center;
}

.Listboxes {
  width: 200px;
  float: left;
}

.Dashboardbox {
  height: 200px;
  width: 250px;
  border: 1px solid black;
}

.Formbox {
  height: 200px;
  width: 150px;
  float: right;
  border: 1px solid black;
}
